<div class="col-lg-9">
                <% include ./partials/messages %>
<h2> Add Qualification</h2>

<form method="POST" action="/qualification/save" autocomplete="off" id="org_form">
<div class="form-group">
        <div class="row">
        <div class="col-lg-3">
                <p>Person :</p>
        </div>
        <div class="col-lg-4">
                <p><%=user.firstName%> <%=user.lastName%></p>
        </div>
        </div>       
        <div class="row">
                <div class="col-lg-3">
                        <p>Qualification name :</p>
                </div>
                <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="Qualification Name" id="qualification_name" name="qualification_name">
                </div>
        </div>       
        
        <div class="row">                
                                <div class="col-lg-3">
                                                <p>Status :</p>
                                        </div>  
                                <div class="col-lg-4">
                        <select class="custom-select" id="status" name="status">                                
                                <option value="Completed">Completed</option>
                                <option value="Completing">Completing</option>
                                <option value="Nominated">Nominated</option>
                        </select>
                        </div>
                
        </div>
        <div class="row">
                <div class="col-lg-3">
                        <p>Start Date :</p>
                </div>
                <div class="col-lg-4">
                        <input type="date" class="form-control" placeholder="Qualification Name" id="start_date" name="start_date">
                </div>
                
        </div> 
        <div class="row">
                <div class="col-lg-3">
                        <p>End Date :</p>
                </div>
                <div class="col-lg-4">
                        <input type="date" class="form-control" placeholder="Qualification Name" id="end_date" name="end_date">
                </div>                
        </div>
        <div class="row">
                <div class="col-lg-3">                        
                </div>
                <div class="col-lg-4">
                                <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </div>
        <input type="hidden" class="form-control"  id="email" name="email" value="<%=user.email%>">

</form>

</div>