<div class="col-lg-9">
                <% include ./partials/messages %>
<h2> Edit Skill Group</h2>

<form method="POST" action="/skills/updateSkillGroup/<%=rec.skill_group[count]._id%>" autocomplete="off" id="org_form">
<div class="form-group">        
        <div class="row" hidden>
                <div class="col-lg-3">
                        <p>Catagory :</p>
                </div>
                <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="Role Name" id="role_name" name="role_name">
                </div>
        </div>       
        
        <div class="row">                
                <div class="col-lg-3">
                        <p>Skill Group Name :</p>
                </div>  
                <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="Skill Group Name" id="skill_group_name" name="skill_group_name" value="<%=rec.skill_group[count].skill_group_name%>">
                </div>
                </div>
                
         </div>

        <div>
                <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                </div>
                </div>
        </div>
        <input type="hidden" class="form-control"  id="email" name="email" value="<%=user.email%>">

</form>

</div>