<div class="col-lg-9">
                <% include ./partials/messages %>                
<h2> Edit Certification</h2>

<form method="POST" action="/certifications/update/<%=rec._id%>" autocomplete="off" id="org_form">
<div class="form-group">        
        <div class="row">
                <div class="col-lg-2">
                        <p>Certification Name</p>
                </div>
                <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="Location Name" id="certification_name" name="certification_name" value="<%=rec.certification_name%>">
                </div>
        </div>               
        
        <div class="row">
                <div class="col-lg-2">                        
                </div>
                <div class="col-lg-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                </div>
        </div>
        <input type="hidden" class="form-control"  id="email" name="email" value="<%=user.email%>">

</form>

</div>