<div class="container">


<div class="jumbotron">
        <h1 class="display-3">Please check your email!</h1>        
        <hr class="my-4">
        <p>We have sent an email to:

                <b><%=email%></b></p>
        
        <p>Before you can access your Skills Base instance we need to verify your email address. Please follow the instructions provided in the email to complete the process. Keep this window open and if you don't receive the email within 5 minutes, click here.</p>
        
      </div>
</div>