


<div class="col-lg-9">
    <% include ./partials/messages %>
        <h3 class="display-4">Organizations</h3>
        
   
    <a class="btn btn-primary btn-sm" href="/organization/register" role="button">Add an Organization</a>  
                                <div class="table-responsive">   
                                    <table class="table table-hover table-striped table-hover table-bordered display dt-responsive" cellspacing="0"  name="dataTables-qualifications" style="white-space: nowrap;">                                                                                                       
                                    <thead>
                                    <tr>
                                            <th>Organization Name</th>
                                            <th>Organization Industry</th>                                            
                                            <th>Organization size</th> 
                                            <th>Action</th>                                                                                       
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% orgs.forEach(function(org){%>
                                    <tr>                
                                    <td><%=org.organization_name%></td>                
                                    <td><%=org.organization_industry%></td>
                                    <td><%=org.organization_size%></td>   
                                    <td><a href="/organization/edit/<%=org._id%>">Edit</a> / 
                                        <a href="#">Delete</a>
                                    </td>                                                                                                                                                           
                                    </tr>                                                                                                  
                                    <%});%>
                                    </tbody>                                                                                          
                                    </table>                                               
                            </div>
 
    </div>