<div class="container col-lg-1"></div>
<div class="container col-lg-9">
    <br><br><br></b><br><br><br><br>

<h2>Let's get your account created.</h2>

<p>To allow us to direct you to the right place, please select one of the following options:</p>
<div class="container col-lg-12">
    <div class="row">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header"><h3>Existing organization</h1></div>
          <div class="card-body">          
            <p class="card-text">My organization is already using Anthesis Expert-Ease and I want to join that instance..</p>
            <p><a class="btn btn-primary btn-lg" href="/users/login" role="button">Join My Organization</a></p>          
          </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"><h3>New organization</h1></div>
            <div class="card-body">            
              <p class="card-text">My organization is not yet using Anthesis Expert-Ease and I want to set up a new instance.</p>
              <p><a class="btn btn-primary btn-lg" href="/users/orglogin" role="button">Set Up a New instance</a></p>            
            </div>
          </div>
          </div>          
  </div>
</div>

